<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        body{
            background-color: rgb(160, 194, 206);
            color: black;
        }
        a{
            color: black;
        }
        .navink{
            background-color: rgb(74, 122, 139);
        }
        @media screen and (max-width: 450px){
            .welcome{
            display: none;
        }
        }
        
    </style>
</head>
<body>
    <div class="container d-flex justify-content-between navink py-3 px-3">
        <h3>
            Multi-App
        </h3>
        {% if user_authenticated %}
            <h3 class="welcome">
                Welcome {{user.username | capfirst}}
                
            </h3>
            <a href= "{% url 'note:logout'  %}" class="btn btn-primary">Log out</a>
        {% else %}
            <div class="d-flex gap-2">
                <a href= "{% url 'note:login'  %}" class="btn btn-primary">Login</a>
            <a href= "{% url 'note:signup'  %}" class="btn btn-primary">Sign up</a>
            </div>
                
        {% endif %}
    </div>
    <div class="container mt-5">
        {% if user_authenticated %}
        <h2 class="p-3">
            <a href="{% url 'note:todo' %}" class="text-decoration-none">Todo</a>
        </h2 >
        <h2 class="p-3">
            <a href="{% url 'note:dic' %}" class="text-decoration-none">Dictionary</a>
        </h2>
        <h2 class="p-3">
            <a href="{% url 'note:city' %}" class="text-decoration-none">Weather</a>
        </h2>
        {% else %}
        <h2 class="p-3">
            <a href="#" class="text-decoration-none" onclick="alert('please login/signup')">Todo</a>
        </h2 >
        <h2 class="p-3">
            <a href="#" class="text-decoration-none" onclick="alert('please login/signup')">Dictionary</a>
        </h2>
        <h2 class="p-3">
            <a href="#" class="text-decoration-none" onclick="alert('please login/signup')">Weather</a>
        </h2>
        {% endif %}
    </div>
</body>
</html>